@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body{
    background-image: url('img/stars.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }

.logoportada{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.humhemhomelogo{
    height: 40vh;
    display: grid;
    align-content: center;
    justify-content: center;
    filter:drop-shadow(5px 5px 100px white)
}

.humhemhomelogo:hover{
  transition: 0.7s ease-in-out;
  transform: scale(1.05);
}

footer {
    background-color: transparent;
    color: #B70E21;
    line-height: 3rem;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    position: fixed;
    bottom: 0;
  }

  @media screen and (max-width: 1100px){
    .humhemhomelogo{
      content: url(img/portadahover.jpg);
    }

    .footer {
      font-size: 5px;
    }
 }

